body {
    background: #0C0C0C;

    text-align: center;
    font-family: StayPixel;
    font-style: normal;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-top: 60px;
    transform: translate(-50%, -50%);

    /*background: #0C0C0C;*/
    -webkit-animation: color-change-4x 6s linear infinite alternate both;
            animation: color-change-4x 6s linear infinite alternate both;
}

@font-face {
    font-family: StayPixel;
    src: url("/fonts/StayPixelRegular.ttf") format("truetype");

    font-weight: bold;
    font-style: normal;
}

.kiowe {
    font-weight: 600;
    font-size: 142px;
    line-height: 142px;

    color: #f8f8f8;

    -webkit-animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
            animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.clown {
    font-weight: 300;
    font-size: 46px;
    line-height: 46px;

    color: #6cff7f;

    -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
    animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.25s both;
}

img {
    width: 46px;
    height: 46px;
    padding-top: 1px;
    padding-left: 18px;
    padding-right: 18px;
}

.vkico {
    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.45s both;
            animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.45s both;
}

.discordico {
    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
            animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.steamico {
    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s both;
            animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.55s both;
}

.ytico {
    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
            animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}

.alien {
    padding-top: 50px;

    width: 100px;
    height: 112px;

    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s both;
            animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s both;
}

@keyframes kiowe {
    0% {
        transform-origin: 50% 0%;
    }
    100% {
        transform-origin: 50% 50%;
    }
}

/*
0% {
    background: #19dcea;
}
33.3333% {
    background: #b22cff;
}
66.666% {
    background: #22ea75;
}
100% {
    background: #f5be10;
}
*/

/* thanks to animista.net */
/* ANIMATION FOR BACKGROUND */
@-webkit-keyframes color-change-4x {
    0% {
        background: #19dcea7c;
    }
    33.3333% {
        background: #4c2cff80;
    }
    66.666% {
        background: #d922ea7c;
    }
    100% {
        background: #f57f107e;
    }
}

@keyframes color-change-4x {
    0% {
        background: #19dcea7c;
    }
    33.3333% {
        background: #4c2cff80;
    }
    66.666% {
        background: #d922ea7c;
    }
    100% {
        background: #f57f107e;
    }
}
  
  
/* ANIMATION FOR "KIOWE" */
@-webkit-keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(25px);
                filter: blur(25px);
                filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
                filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.4));
        opacity: 1;
    }
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
                transform: translateY(-200px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(25px);
                filter: blur(25px);
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
                filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.4));
        opacity: 1;
    }
}
  

/* ANIMATION FOR "CLOWN" */
@-webkit-keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-filter: blur(25px);
                filter: blur(25px);
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
                filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
        opacity: 1;
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(200px) scaleY(2.5) scaleX(0.2);
                transform: translateY(200px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
        -webkit-filter: blur(25px);
                filter: blur(25px);
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
                filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.4));
        opacity: 1;
    }
}
  

/* ANIMATION FOR ICONS */
@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(25px);
                filter: blur(25px); 
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(0);
                filter: blur(0);
                filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.4));
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(25px);
                filter: blur(25px); 
                filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.1));
        opacity: 0;
    }  
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(0);
                filter: blur(0);
                filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.4));
        opacity: 1;
    }
}